In [ ]:
%config InlineBackend.figure_formats = ["svg"]
import base64
import io
import json
import requests

import pandas as pd; pd.set_option('display.max_rows', 500)
import geopandas as gpd

In [ ]:
raw_data = requests.post(
    "https://atbackend.sipri.org/api/p/trades/trade-register-csv/",
    json={"filters": []},
).json()

In [ ]:
csv_lines = base64.b64decode(raw_data["bytes"]).decode("iso-8859-1").split("\n")
csv_lines[:15]

["Transfers of major conventional arms from All countries  to All countries . Deals with deliveries made for the year range 'Not specified' to 'Not specified' ",
 "A '?' in a column indicates uncertain data. The 'Number delivered' and the 'Year(s) of deliveries' refer only to deliveries in the selected year(s).",
 "An empty field for 'Number ordered' indicates that data is not yet available.",
 'SIPRI trend-indicator values (TIVs) are in millions.',
 "An empty field for 'SIPRI TIV for total order' indicates that data (on the number ordered and/or the TIV per unit) is not available.",
 "A '0' for 'SIPRI TIV of delivered weapons' indicates that the volume of deliveries is between 0 and 0.5 million SIPRI TIV; and an empty field indicates that no deliveries have been identified.",
 'Figures may not add up to stated totals due to the conventions of rounding.',
 'For the method used for the SIPRI TIV and explanations of the conventions; abbreviations and acronyms see <https://www.sipri.org/databases/armstransfers/sources-and-methods>.',
 '',
 'Source: SIPRI Arms Transfers Database (c) SIPRI.',
 'Data generated: 4 Feb 2025 6:08:35 AM',
 'Recipient,Supplier,Year of order, ,Number ordered, ,Weapon designation,Weapon description,Number delivered, ,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons',
 'Afghanistan,Brazil,2017,,6,,EMB-314 Super Tucano,trainer/combat aircraft,6,?,2018,New,A-29B version; financed by USA; ordered via USA from US production line,4.5,27,27',
 'Afghanistan,Russia,2004,,6,,aircraft engine,aircraft engine,6,,2005,New,Klimov TV-3-117 turboshaft; spare engines for Mi-24 combat helicopters,0.5,3,3',
 'Afghanistan,Soviet Union,1977,?,26,,AI-25,turbofan,26,?,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovakia; Titan (AI-25TL) version produced in Czechoslovakia,0.6,15.6,15.6']

In [ ]:
first_line_index = next(idx for idx, line in enumerate(csv_lines) if line.startswith("Recipient,"))
first_line_index

11

In [ ]:
arms_df = pd.read_csv(io.StringIO("\n".join(csv_lines[first_line_index:])))
arms_df

,Recipient,Supplier,Year of order,,Number ordered,.1,Weapon designation,Weapon description,Number delivered,.2,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons
0,Afghanistan,Brazil,2017.0,NaN,6.0,NaN,EMB-314 Super Tucano,trainer/combat aircraft,6.0,?,2018,New,A-29B version; financed by USA; ordered via US...,4.50,27.0,27.0
1,Afghanistan,Russia,2004.0,NaN,6.0,NaN,aircraft engine,aircraft engine,6.0,NaN,2005,New,Klimov TV-3-117 turboshaft; spare engines for ...,0.50,3.0,3.0
2,Afghanistan,Soviet Union,1977.0,?,26.0,NaN,AI-25,turbofan,26.0,?,1977; 1978,New,For 26 L-39 trainer aircraft from Czechoslovak...,0.60,15.6,15.6
3,Afghanistan,Soviet Union,1988.0,?,2300.0,?,R-17 Elbrus,SSM,2300.0,?,1988; 1989; 1990; 1991,New,Mainly for use against Mujahideen rebel forces,1.25,2875.0,2875.0
4,Afghanistan,United Kingdom,2009.0,NaN,2.0,NaN,Mi-17,transport helicopter,2.0,NaN,2010,Second hand,Second-hand Mi-17 version bought by UK for 'Pr...,2.90,5.8,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29053,Zimbabwe,Russia,1998.0,?,6.0,NaN,Mi-24P/Mi-35P,combat helicopter,6.0,NaN,1999,Second hand,Second-hand; bought for use in DRC against reb...,3.60,21.6,21.6
29054,Zimbabwe,Italy,1967.0,?,20.0,?,Model-56 105mm,towed gun,20.0,?,1967,New,Supplier uncertain,0.45,9.0,9.0
29055,Zimbabwe,Soviet Union,1975.0,?,15.0,?,T-34-85,tank,15.0,?,1975,Second hand,Second-hand; supplier uncertain,0.38,5.7,5.7
29056,Zimbabwe,China,2004.0,?,5.0,?,Type-89/ZSD-89,APC,5.0,?,2004,New,ARV version,0.30,1.5,1.5
29057,Zimbabwe,China,2004.0,?,10.0,?,Type-85,APC,10.0,?,2004,New,NaN,0.30,3.0,3.0

For more on the SIPRI TIV (trend indicator value), see the SIPRI fact sheet ["Measuring International Arms Transfers"](https://www.sipri.org/sites/default/files/files/FS/SIPRIFS1212.pdf).

In [ ]:
arms_df.groupby(["Recipient", "Supplier", "Year of order"]).count()

                                                          Number ordered   .1  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0         0               1    1
Afghanistan          Belarus            2018.0         0               1    0
                     Bosnia-Herzegovina 2009.0         0               1    0
                                        2012.0         1               1    1
                     Brazil             2013.0         0               1    0
...                                                   ..             ...  ...
unknown recipient(s) United States      1995.0         0               1    0
                                        2010.0         0               1    1
                                        2013.0         0               1    1
                                        2018.0         2               2    2
                                        2023.0         1               1    0

                                                       Weapon designation  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                          1
Afghanistan          Belarus            2018.0                          1
                     Bosnia-Herzegovina 2009.0                          1
                                        2012.0                          1
                     Brazil             2013.0                          1
...                                                                   ...
unknown recipient(s) United States      1995.0                          1
                                        2010.0                          1
                                        2013.0                          1
                                        2018.0                          2
                                        2023.0                          2

                                                       Weapon description  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                          1
Afghanistan          Belarus            2018.0                          1
                     Bosnia-Herzegovina 2009.0                          1
                                        2012.0                          1
                     Brazil             2013.0                          1
...                                                                   ...
unknown recipient(s) United States      1995.0                          1
                                        2010.0                          1
                                        2013.0                          1
                                        2018.0                          2
                                        2023.0                          2

                                                       Number delivered   .2  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                        1    1
Afghanistan          Belarus            2018.0                        1    0
                     Bosnia-Herzegovina 2009.0                        1    1
                                        2012.0                        1    0
                     Brazil             2013.0                        1    1
...                                                                 ...  ...
unknown recipient(s) United States      1995.0                        1    0
                                        2010.0                        1    1
                                        2013.0                        1    1
                                        2018.0                        2    2
                                        2023.0                        2    0

                                                       Year(s) of delivery  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                           1
Afghanistan          Belarus            2018.0                           1
                     Bosnia-Herzegovina 2009.0                           1
                                        2012.0                           1
                     Brazil             2013.0                           1
...                                                                    ...
unknown recipient(s) United States      1995.0                           1
                                        2010.0                           1
                                        2013.0                           1
                                        2018.0                           2
                                        2023.0                           0

                                                       status  Comments  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0              1         0
Afghanistan          Belarus            2018.0              1         1
                     Bosnia-Herzegovina 2009.0              1         1
                                        2012.0              1         1
                     Brazil             2013.0              1         1
...                                                       ...       ...
unknown recipient(s) United States      1995.0              1         1
                                        2010.0              1         1
                                        2013.0              1         1
                                        2018.0              2         0
                                        2023.0              2         2

                                                       SIPRI TIV per unit  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                          1
Afghanistan          Belarus            2018.0                          1
                     Bosnia-Herzegovina 2009.0                          1
                                        2012.0                          1
                     Brazil             2013.0                          1
...                                                                   ...
unknown recipient(s) United States      1995.0                          1
                                        2010.0                          1
                                        2013.0                          1
                                        2018.0                          2
                                        2023.0                          2

                                                       SIPRI TIV for total order  \
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                                 1
Afghanistan          Belarus            2018.0                                 1
                     Bosnia-Herzegovina 2009.0                                 1
                                        2012.0                                 1
                     Brazil             2013.0                                 1
...                                                                          ...
unknown recipient(s) United States      1995.0                                 1
                                        2010.0                                 1
                                        2013.0                                 1
                                        2018.0                                 2
                                        2023.0                                 2

                                                       SIPRI TIV of delivered weapons
Recipient            Supplier           Year of order
ANC (South Africa)*  Soviet Union       1988.0                                      1
Afghanistan          Belarus            2018.0                                      1
                     Bosnia-Herzegovina 2009.0                                      1
                                        2012.0                                      1
                     Brazil             2013.0                                      1
...                                                                               ...
unknown recipient(s) United States      1995.0                                      1
                                        2010.0                                      1
                                        2013.0                                      1
                                        2018.0                                      2
                                        2023.0                                      2

[15647 rows x 13 columns]

In [ ]:
# arms_df[(arms_df["Weapon designation"] == "Mi-17") & (arms_df["Supplier"] != "Russia") & (arms_df["Supplier"] != "Soviet Union")]
arms_df[arms_df["status"] == "Second hand"]

,Recipient,Supplier,Year of order,,Number ordered,.1,Weapon designation,Weapon description,Number delivered,.2,Year(s) of delivery,status,Comments,SIPRI TIV per unit,SIPRI TIV for total order,SIPRI TIV of delivered weapons
4,Afghanistan,United Kingdom,2009.0,NaN,2.0,NaN,Mi-17,transport helicopter,2.0,NaN,2010,Second hand,Second-hand Mi-17 version bought by UK for 'Pr...,2.90,5.8,5.8
7,Afghanistan,Soviet Union,1987.0,?,40.0,?,MiG-21MF,fighter aircraft,40.0,?,1987; 1988; 1989; 1990,Second hand,Second-hand; probably incl some MiG-21UM,4.28,171.2,171.2
11,Afghanistan,Soviet Union,1970.0,?,50.0,?,BRDM-1,reconnaissance AV,50.0,?,1970; 1971,Second hand,Probably second-hand,0.05,2.4,2.4
12,Afghanistan,Soviet Union,1979.0,?,250.0,?,BRDM-2,reconnaissance AV,250.0,?,1979; 1980; 1981; 1982; 1983; 1984; 1985; 1986...,Second hand,Probably second-hand,0.06,15.0,15.0
16,Afghanistan,Soviet Union,1989.0,?,40.0,?,MiG-21bis,fighter aircraft,40.0,?,1989; 1990,Second hand,Second-hand,5.00,200.0,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29049,Zimbabwe,Mozambique,1976.0,?,5.0,NaN,BN-2 Islander,light transport aircraft,5.0,?,1977,Second hand,Second-hand,0.24,1.2,1.2
29050,Zimbabwe,Kenya,1981.0,NaN,5.0,NaN,Hunter,FGA aircraft,5.0,NaN,1981,Second hand,Second-hand; sold via UK company; Hunter FGA-8...,1.60,8.0,8.0
29052,Zimbabwe,Ukraine,2000.0,?,1.0,?,An-12,transport aircraft,1.0,?,2001,Second hand,Second-hand,9.20,9.2,9.2
29053,Zimbabwe,Russia,1998.0,?,6.0,NaN,Mi-24P/Mi-35P,combat helicopter,6.0,NaN,1999,Second hand,Second-hand; bought for use in DRC against reb...,3.60,21.6,21.6
29055,Zimbabwe,Soviet Union,1975.0,?,15.0,?,T-34-85,tank,15.0,?,1975,Second hand,Second-hand; supplier uncertain,0.38,5.7,5.7

In [ ]:
arms_df["Weapon designation"].value_counts()

Weapon designation
aircraft engine     417
vehicle engine      398
ship engine         379
Mi-17               239
M-113               225
                   ...
F-14A Tomcat          1
Kharg                 1
Tigercat-2            1
Bandar Abbas          1
ATMOS M-46 130mm      1
Name: count, Length: 4074, dtype: int64

In [ ]:
capitals_map = {
    "ANC (South Africa)*": "South Africa",
    "Anti-Castro rebels (Cuba)*": "Cuba",
    "Amal (Lebanon)*": "Lebanon",
    "Armas (Guatemala)*": "Guatemala",
    "Contras (Nicaragua)*": "Nicaragua",
    "Darfur rebels (Sudan)*": "Sudan",
    "ELF (Ethiopia)*": "Ethiopia",
    "EPLF (Ethiopia)*": "Ethiopia",
    "FRELIMO (Portugal)*": "Portugal",
    "Haiti rebels*": "Haiti",
    "Hezbollah (Lebanon)*": "Lebanon",
    "Houthi rebels (Yemen)*": "Yemen",
    "Indonesia rebels*": "Indonesia",
    "Khmer Rouge (Cambodia)*": "Cambodia",
    "Kurdistan Regional Government (Iraq)*": "Iraq",
    "LF (Lebanon)*": "Lebanon",
    "LRA (Uganda)*": "Uganda",
    "LTTE (Sri Lanka)*": "Sri Lanka",
    "Libya GNC": "Libya",
    "Libya HoR*": "Libya",
    "Congo": "Congo (Brazzaville)",
    "DR Congo": "Congo (Kinshasa)",
    "MNLF (Philippines)*": "Philippines",
    "MPLA (Portugal)*": "Portugal",
    "MTA (Myanmar)*": "Myanmar",
    "Micronesia": "Federated States of Micronesia",
    "Mujahedin (Afghanistan)*": "Afghanistan",
    "NLA (Macedonia)*": "North Macedonia",
    "NTC (Libya)*": "Libya",
    "Northern Alliance (Afghanistan)*": "Afghanistan",
    "Northern Cyprus": "Cyprus",
    "PAIGC (Portugal)*": "Portugal",
    "PIJ (Israel/Palestine)*": "Israel",
    "PKK (Turkiye)*": "Turkey",
    "PLO (Israel)*": "Israel",
    "PRC (Israel/Palestine)*": "Israel",
    "Pathet Lao (Laos)*": "Laos",
    "Provisional IRA (UK)*": "United Kingdom",
    "RPF (Rwanda)*": "Rwanda",
    "RUF (Sierra Leone)*": "United Kingdom",
    "SLA (Lebanon)*": "Lebanon",
    "SNA (Somalia)*": "Somalia",
    "SPLA (Sudan)*": "Sudan",
    "Southern rebels (Yemen)*": "Yemen",
    "Syria rebels*": "Syria",
    "Turkiye": "Turkey",
    "UAE": "United Arab Emirates",
    "UIC (Somalia)*": "Somalia",
    "UNITA (Angola)*": "Angola",
    "Ukraine Rebels*": "Ukraine",
    "United States": "United States of America",
    "United Wa State (Myanmar)*": "Myanmar",
    "Viet Minh (France)*": "France",
    "Viet Nam": "Vietnam",
    "ZAPU (Zimbabwe)*": "Zimbabwe",
    "GUNT (Chad)*": "Chad",
    "FAN (Chad)*": "Chad",
    "FMLN (El Salvador)*": "El Salvador",
    "Gambia": "The Gambia",
    "Lebanon Palestinian rebels*": "Lebanon",
    "Cote d'Ivoire": "Ivory Coast",
    "Bahamas": "The Bahamas",
    "FNLA (Angola)*": "Angola",
    "Cabo Verde": "Cape Verde",
    "Timor-Leste": "East Timor",
    "Saint Vincent": "Saint Vincent and the Grenadines",
    "South Vietnam": "Vietnam",  # Saigon is now Ho Chi Minh City
    "Viet Cong (South Vietnam)*": "Vietnam",
    "Soviet Union": "Russia",
    "NATO**": "Belgium",  # NATO headquarters in Brussels
    'European Union**': "Belgium",  # EU headquarters in Brussels
    "OSCE**": "Austria",  # secretariat in Vienna
    "Yemen Arab Republic (North Yemen)": "Yemen",  # same capital as Yemen (Sanaa)
    "North Yemen": "Yemen",  # same capital as Yemen (Sanaa)
    "Czechoslovakia": "Czechia",  # same capital as the modern Czech Republic (Prague)
    "Yugoslavia": "Serbia",  # same capital as Serbia (Belgrade)
}

exclude_flows = {
    "nan",
    "unknown rebel group*",
    "unknown recipient(s)",
    'unknown supplier(s)',
    "United Nations**",
    "Regional Security System**",
    "African Union**",
    # TODO
    "Biafra",
    "Bosnia-Herzegovina",
    "East Germany (GDR)",
    "Guinea-Bissau",
    "Hamas (Palestine)*",
    "Katanga",
    "Palestine",
    "South Yemen",
    '0.25',
    '3',
    'Aruba',
    "South Sudan",
    'Western Sahara'
}

In [ ]:
places_gdf = gpd.read_file("https://naciscdn.org/naturalearth/110m/cultural/ne_110m_populated_places_simple.zip")
capitals_gdf = places_gdf[places_gdf["adm0cap"] == 1].set_index("adm0name")
# force each nation to have exactly one capital
capitals_gdf = capitals_gdf[~capitals_gdf.index.isin(["Sucre", "Yamoussoukro", "Bloemfontein", "Pretoria"])]

In [ ]:
capitals_gdf[["latitude", "longitude"]].head(10)

                                 latitude   longitude
adm0name
Vatican                         41.903282   12.453387
San Marino                      43.936096   12.441770
Liechtenstein                   47.133724    9.516670
Luxembourg                      49.611660    6.130003
Federated States of Micronesia   6.916644  158.149974
Marshall Islands                 7.103004  171.380000
Tuvalu                          -8.516652  179.216647
Palau                            7.487396  134.626549
Monaco                          43.739646    7.406913
Kiribati                         1.338188  173.017571

ideas:
* pick a protracted conflict (e.g. Israel–Palestine)
* pick a year or two
* analyze the immediate effects of the collapse of the USSR on arms flows
* analyze secondhand arms sales (in the context of the Cold War?) – how are arms recycled?
* analyze the popularity and regionality of a particular arm (e.g. the Mi-17) over time

## Advanced flow visualizations with FlowmapBlue (Colab only)

In [ ]:
!pip install -q gspread_pandas

In [ ]:
from google.colab import auth
import gspread_pandas
from google.auth import default

In [ ]:
auth.authenticate_user()
creds, _ = default()

In [ ]:
df = pd.DataFrame([1,2,3,4], columns=['T'])
##create new sheet and dump dataframe
spread = gspread_pandas.Spread('PUBPOL 2130: PUMS migration flows', creds=creds, create_spread=True)
spread.df_to_sheet(df, index=False, headers=True, start='A1',)

In [ ]:
flowmap_arms_df = arms_df[~arms_df["Supplier"].isin(exclude_flows) & ~arms_df["Recipient"].isin(exclude_flows)].rename(
    columns={
        "Year of order": "order_year",
        "Recipient": "recipient",
        "Supplier": "supplier",
        "SIPRI TIV for total order": "order_sipri_tiv"
    }
)
flowmap_arms_df["order_year"] = flowmap_arms_df["order_year"].astype(int)
flowmap_arms_df = flowmap_arms_df[flowmap_arms_df["order_year"] >= 1950]

In [ ]:
orders_by_year_df = flowmap_arms_df.groupby(["order_year", "recipient", "supplier"]).sum()["order_sipri_tiv"]
orders_by_year_df

order_year  recipient  supplier
1950        Argentina  United States     135.51
            Australia  United Kingdom    337.68
                       United States       0.60
            Belgium    United Kingdom     78.00
                       United States     756.12
                                          ...
2023        Uruguay    Spain               0.00
                       United States      12.72
            Viet Nam   India              30.00
            Zambia     United States      20.80
            Zimbabwe   China              20.40
Name: order_sipri_tiv, Length: 15054, dtype: float64

In [ ]:
flowmap_locations_df = pd.DataFrame(
    [
        {
            "id": loc,
            "name": loc,
            "lat": capitals_gdf.loc[capitals_map.get(loc, loc), "latitude"],
            "lon": capitals_gdf.loc[capitals_map.get(loc, loc), "longitude"],
        }
        for loc in set(flowmap_arms_df["Supplier"]) | set(flowmap_arms_df["Recipient"])
    ]
)
flowmap_locations_df

,id,name,lat,lon
0,Thailand,Thailand,13.751945,100.514699
1,Libya GNC,Libya GNC,32.8925,13.180012
2,Viet Nam,Viet Nam,21.035273,105.848068
3,Congo,Congo,-4.25724,15.282744
4,Southern rebels (Yemen)*,Southern rebels (Yemen)*,15.356679,44.204648
5,Nigeria,Nigeria,9.085279,7.531382
6,Haiti rebels*,Haiti rebels*,18.542971,-72.33798
7,Estonia,Estonia,59.433877,24.728041
8,Cuba,Cuba,23.133905,-82.366128
9,Indonesia,Indonesia,-6.172472,106.827492
10,Guyana,Guyana,6.801974,-58.167029
11,Dominican Republic,Dominican Republic,18.472019,-69.902031
12,Greece,Greece,37.985272,23.731375
13,Tunisia,Tunisia,36.802778,10.179678
14,Bulgaria,Bulgaria,42.685295,23.314708
15,NTC (Libya)*,NTC (Libya)*,32.8925,13.180012
16,Palau,Palau,7.487396,134.626549
17,PLO (Israel)*,PLO (Israel)*,31.778408,35.206626
18,Mali,Mali,12.651961,-8.001985
19,LTTE (Sri Lanka)*,LTTE (Sri Lanka)*,6.931966,79.857751
20,Anti-Castro rebels (Cuba)*,Anti-Castro rebels (Cuba)*,23.133905,-82.366128
21,Myanmar,Myanmar,19.768503,96.116673
22,Peru,Peru,-12.046067,-77.052008
23,Ireland,Ireland,53.335007,-6.250852
24,Angola,Angola,-8.83634,13.232481
25,Italy,Italy,41.897902,12.481313
26,Rwanda,Rwanda,-1.951644,30.058586
27,Saint Kitts and Nevis,Saint Kitts and Nevis,17.302031,-62.717009
28,Vanuatu,Vanuatu,-17.73335,168.316641
29,United Wa State (Myanmar)*,United Wa State (Myanmar)*,19.768503,96.116673
30,Ukraine Rebels*,Ukraine Rebels*,50.435313,30.514682
31,Albania,Albania,41.327541,19.818883
32,Yemen,Yemen,15.356679,44.204648
33,Benin,Benin,6.401954,2.518045
34,Moldova,Moldova,47.005024,28.857711
35,Micronesia,Micronesia,6.916644,158.149974
36,Pathet Lao (Laos)*,Pathet Lao (Laos)*,17.966693,102.59998
37,Finland,Finland,60.177509,24.932181
38,Costa Rica,Costa Rica,9.936958,-84.085997
39,North Korea,North Korea,39.021385,125.752745
40,Eritrea,Eritrea,15.333339,38.933324
41,Mujahedin (Afghanistan)*,Mujahedin (Afghanistan)*,34.518636,69.181314
42,Madagascar,Madagascar,-18.914692,47.514678
43,United Kingdom,United Kingdom,51.501941,-0.118668
44,Malaysia,Malaysia,3.168612,101.698037
45,Namibia,Namibia,-22.570006,17.083546
46,Ghana,Ghana,5.551981,-0.218662
47,Netherlands,Netherlands,52.351915,4.914694
48,Solomon Islands,Solomon Islands,-9.437994,159.949766
49,Mongolia,Mongolia,47.918619,106.91467
50,Yemen Arab Republic (North Yemen),Yemen Arab Republic (North Yemen),15.356679,44.204648
51,OSCE**,OSCE**,48.201961,16.364693
52,North Yemen,North Yemen,15.356679,44.204648
53,Jamaica,Jamaica,17.977077,-76.767434
54,Mexico,Mexico,19.444388,-99.132934
55,Slovakia,Slovakia,48.150018,17.116981
56,Algeria,Algeria,36.765011,3.048607
57,Syria,Syria,33.50198,36.29805
58,Houthi rebels (Yemen)*,Houthi rebels (Yemen)*,15.356679,44.204648
59,Malta,Malta,35.899733,14.514711
60,Luxembourg,Luxembourg,49.61166,6.130003
61,FNLA (Angola)*,FNLA (Angola)*,-8.83634,13.232481
62,Mozambique,Mozambique,-25.953332,32.587217
63,Togo,Togo,6.133883,1.220811
64,Contras (Nicaragua)*,Contras (Nicaragua)*,12.154962,-86.270438
65,France,France,48.868639,2.33139
66,Cambodia,Cambodia,11.551976,104.914689
67,Bolivia,Bolivia,adm0name Bolivia -19.040971 Bolivia -16.49...,adm0name Bolivia -65.259516 Bolivia -68.15...
68,Barbados,Barbados,13.102003,-59.616527
69,Venezuela,Venezuela,10.502944,-66.918983
70,Belgium,Belgium,50.835263,4.331371
71,Guinea,Guinea,9.533469,-13.682181
72,Sierra Leone,Sierra Leone,8.471957,-13.236162
73,Iceland,Iceland,64.150024,-21.950015
74,Khmer Rouge (Cambodia)*,Khmer Rouge (Cambodia)*,11.551976,104.914689
75,Viet Minh (France)*,Viet Minh (France)*,48.868639,2.33139
76,Equatorial Guinea,Equatorial Guinea,3.750015,8.783278
77,Turkmenistan,Turkmenistan,37.949995,58.383299
78,RUF (Sierra Leone)*,RUF (Sierra Leone)*,51.501941,-0.118668
79,ZAPU (Zimbabwe)*,ZAPU (Zimbabwe)*,-17.815844,31.042764
80,PRC (Israel/Palestine)*,PRC (Israel/Palestine)*,31.778408,35.206626
81,Saudi Arabia,Saudi Arabia,24.642779,46.770796
82,Mauritius,Mauritius,-20.166639,57.499994
83,Lebanon Palestinian rebels*,Lebanon Palestinian rebels*,33.873921,35.507762
84,Czechoslovakia,Czechoslovakia,50.085283,14.464034
85,Seychelles,Seychelles,-4.616632,55.44999
86,Iraq,Iraq,33.340594,44.391923
87,Syria rebels*,Syria rebels*,33.50198,36.29805
88,Grenada,Grenada,12.052633,-61.741643
89,Liberia,Liberia,6.314582,-10.79966
90,Timor-Leste,Timor-Leste,-8.559388,125.579456
91,Kyrgyzstan,Kyrgyzstan,42.875025,74.583258
92,Norway,Norway,59.918636,10.748033
93,Switzerland,Switzerland,46.916683,7.466976
94,Montenegro,Montenegro,42.465973,19.266307
95,Malawi,Malawi,-13.983295,33.783302
96,Slovenia,Slovenia,46.055288,14.514969
97,Nicaragua,Nicaragua,12.154962,-86.270438
98,Botswana,Botswana,-24.646314,25.911948
99,Amal (Lebanon)*,Amal (Lebanon)*,33.873921,35.507762
100,Gambia,Gambia,13.453877,-16.591702
101,Israel,Israel,31.778408,35.206626
102,Bahamas,Bahamas,25.08339,-77.350044
103,Pakistan,Pakistan,33.701942,73.164689
104,Ethiopia,Ethiopia,9.035256,38.698059
105,Colombia,Colombia,4.598369,-74.08529
106,Libya HoR*,Libya HoR*,32.8925,13.180012
107,Lithuania,Lithuania,54.683366,25.316635
108,Qatar,Qatar,25.286556,51.532968
109,Djibouti,Djibouti,11.595015,43.148002
110,Brazil,Brazil,-15.781394,-47.917998
111,North Macedonia,North Macedonia,42.000006,21.433462
112,Brunei,Brunei,4.883331,114.933284
113,Niger,Niger,13.518652,2.11471
114,Tanzania,Tanzania,-6.798067,39.266396
115,Germany,Germany,52.523765,13.399603
116,Afghanistan,Afghanistan,34.518636,69.181314
117,Hezbollah (Lebanon)*,Hezbollah (Lebanon)*,33.873921,35.507762
118,Kenya,Kenya,-1.281401,36.814711
119,Darfur rebels (Sudan)*,Darfur rebels (Sudan)*,15.590024,32.532233
120,Indonesia rebels*,Indonesia rebels*,-6.172472,106.827492
121,Lesotho,Lesotho,-29.316674,27.483273
122,UAE,UAE,24.466684,54.366593
123,Morocco,Morocco,34.025307,-6.836408
124,Central African Republic,Central African Republic,4.366644,18.558288
125,Burkina Faso,Burkina Faso,12.372262,-1.52667
126,Burundi,Burundi,-3.376087,29.360006
127,Mauritania,Mauritania,18.086427,-15.97534
128,Australia,Australia,-35.283029,149.129026
129,Bahrain,Bahrain,26.236136,50.583052
130,UIC (Somalia)*,UIC (Somalia)*,2.068627,45.364732
131,Chile,Chile,-33.448068,-70.668987
132,Papua New Guinea,Papua New Guinea,-9.464708,147.192504
133,Panama,Panama,8.969963,-79.534983
134,Kiribati,Kiribati,1.338188,173.017571
135,Honduras,Honduras,14.103991,-87.219475
136,Antigua and Barbuda,Antigua and Barbuda,17.118037,-61.850034
137,Kosovo,Kosovo,42.66671,21.165984
138,Northern Alliance (Afghanistan)*,Northern Alliance (Afghanistan)*,34.518636,69.181314
139,Libya,Libya,32.8925,13.180012
140,Chad,Chad,12.115042,15.047203
141,Latvia,Latvia,56.950024,24.099965
142,Saint Vincent,Saint Vincent,13.148279,-61.212062
143,Paraguay,Paraguay,-25.294457,-57.643451
144,Bangladesh,Bangladesh,23.725006,90.406634
145,SLA (Lebanon)*,SLA (Lebanon)*,33.873921,35.507762
146,MNLF (Philippines)*,MNLF (Philippines)*,14.606105,120.980271
147,Provisional IRA (UK)*,Provisional IRA (UK)*,51.501941,-0.118668
148,Bhutan,Bhutan,27.472986,89.639014
149,Tuvalu,Tuvalu,-8.516652,179.216647
150,UNITA (Angola)*,UNITA (Angola)*,-8.83634,13.232481
151,Haiti,Haiti,18.542971,-72.33798
152,Northern Cyprus,Northern Cyprus,35.166677,33.366635
153,Ukraine,Ukraine,50.435313,30.514682
154,NATO**,NATO**,50.835263,4.331371
155,Taiwan,Taiwan,25.035833,121.568333
156,Denmark,Denmark,55.68051,12.56154
157,Soviet Union,Soviet Union,55.75411,37.613577
158,Russia,Russia,55.75411,37.613577
159,Georgia,Georgia,41.726956,44.78885
160,Cameroon,Cameroon,3.868647,11.514705
161,China,China,39.930838,116.38634
162,Turkiye,Turkiye,39.929184,32.862446
163,Azerbaijan,Azerbaijan,40.397218,49.860271
164,Croatia,Croatia,45.800007,15.999995
165,Hungary,Hungary,47.501952,19.081375
166,Fiji,Fiji,-18.133016,178.441707
167,Oman,Oman,23.613325,58.593312
168,Cyprus,Cyprus,35.166677,33.366635
169,South Korea,South Korea,37.568295,126.997785
170,Nepal,Nepal,27.718638,85.314696
171,Canada,Canada,45.418643,-75.701961
172,Viet Cong (South Vietnam)*,Viet Cong (South Vietnam)*,21.035273,105.848068
173,Belize,Belize,17.252034,-88.767073
174,LF (Lebanon)*,LF (Lebanon)*,33.873921,35.507762
175,European Union**,European Union**,50.835263,4.331371
176,Somalia,Somalia,2.068627,45.364732
177,Zambia,Zambia,-15.414698,28.281382
178,Singapore,Singapore,1.294979,103.853875
179,Suriname,Suriname,5.83503,-55.167031
180,Kuwait,Kuwait,29.371664,47.976355
181,FMLN (El Salvador)*,FMLN (El Salvador)*,13.711948,-89.204987
182,Poland,Poland,52.251947,20.998054
183,Maldives,Maldives,4.166708,73.499948
184,Sri Lanka,Sri Lanka,6.931966,79.857751
185,Lebanon,Lebanon,33.873921,35.507762
186,India,India,28.600023,77.19998
187,El Salvador,El Salvador,13.711948,-89.204987
188,Sudan,Sudan,15.590024,32.532233
189,Iran,Iran,35.673889,51.422398
190,ANC (South Africa)*,ANC (South Africa)*,adm0name South Africa -29.119994 South Afric...,adm0name South Africa 26.229913 South Afric...
191,Czechia,Czechia,50.085283,14.464034
192,Jordan,Jordan,31.951971,35.931354
193,MTA (Myanmar)*,MTA (Myanmar)*,19.768503,96.116673
194,New Zealand,New Zealand,-41.299988,174.783266
195,Uruguay,Uruguay,-34.856096,-56.172998
196,Sweden,Sweden,59.352706,18.095389
197,GUNT (Chad)*,GUNT (Chad)*,12.115042,15.047203
198,Yugoslavia,Yugoslavia,44.820591,20.466045
199,Philippines,Philippines,14.606105,120.980271
200,Armenia,Armenia,40.183097,44.511606
201,Zimbabwe,Zimbabwe,-17.815844,31.042764
202,Senegal,Senegal,14.717778,-17.475076
203,Tonga,Tonga,-21.138512,-175.220565
204,Guatemala,Guatemala,14.623081,-90.528911
205,Cote d'Ivoire,Cote d'Ivoire,adm0name Ivory Coast 6.818381 Ivory Coast ...,adm0name Ivory Coast -5.275503 Ivory Coast ...
206,Samoa,Samoa,-13.841545,-171.738642
207,Argentina,Argentina,-34.600556,-58.399477
208,Trinidad and Tobago,Trinidad and Tobago,10.651997,-61.517031
209,Spain,Spain,40.401972,-3.685298
210,Gabon,Gabon,0.385389,9.457965
211,Egypt,Egypt,30.051906,31.248022
212,South Vietnam,South Vietnam,21.035273,105.848068
213,Ecuador,Ecuador,-0.213042,-78.501997
214,Cabo Verde,Cabo Verde,14.916698,-23.516689
215,Portugal,Portugal,38.724669,-9.146812
216,Uganda,Uganda,0.318605,32.581378
217,Armas (Guatemala)*,Armas (Guatemala)*,14.623081,-90.528911
218,Japan,Japan,35.686963,139.749462
219,Marshall Islands,Marshall Islands,7.103004,171.38
220,ELF (Ethiopia)*,ELF (Ethiopia)*,9.035256,38.698059
221,SNA (Somalia)*,SNA (Somalia)*,2.068627,45.364732
222,Tajikistan,Tajikistan,38.560035,68.773879
223,Kazakhstan,Kazakhstan,51.181125,71.427774
224,Uzbekistan,Uzbekistan,41.313648,69.292987
225,Romania,Romania,44.435318,26.098001
226,DR Congo,DR Congo,-4.327778,15.313026
227,eSwatini,eSwatini,-26.316651,31.133335
228,Serbia,Serbia,44.820591,20.466045
229,South Africa,South Africa,adm0name South Africa -29.119994 South Afric...,adm0name South Africa 26.229913 South Afric...
230,United States,United States,38.901495,-77.011364
231,Laos,Laos,17.966693,102.59998
232,Austria,Austria,48.201961,16.364693
233,Comoros,Comoros,-11.704158,43.240244
234,Belarus,Belarus,53.901923,27.564681

In [ ]:
capitals_gdf.loc["France", "geometry"].coords.xy[1][0]

48.85809231626911

In [ ]:
def generate_arms_flow(
    sheet_creds,
    locations_df,
    sheet_title: str,
    flows: dict[str, pd.DataFrame],
    flow_title: str = "",
    description: str = "",
    created_by_name: str = "",
    created_by_email: str = "",
):
    props_df = pd.DataFrame([
        {'property': 'title', 'value': flow_title},
        {'property': 'description', 'value': description},
        {'property': 'source.name', 'value': 'SIPRI Arms Transfers Database'},
        {'property': 'source.url', 'value': 'https://www.sipri.org/databases/armstransfers'},
        {'property': 'createdBy.name', 'value': created_by_name},
        {'property': 'createdBy.email', 'value': created_by_email},
        {'property': 'colors.scheme', 'value': 'SunsetDark'},
        {'property': 'colors.darkMode', 'value': 'yes'},
        {'property': 'animate.flows', 'value': 'yes'},
        {'property': 'clustering', 'value': 'yes'},
        {'property': 'flows.sheets', 'value': ','.join(flows)},  # TODO: force plaintext cell type
        {'property': 'msg.locationTooltip.incoming', 'value': 'Inbound arms transfers (TIV)'},
        {'property': 'msg.locationTooltip.outgoing', 'value': 'Outbound arms transfers (TIV)'},
        {'property': 'msg.flowTooltip.numOfTrips', 'value': 'Arms transfer (TIV)'},
        {'property': 'msg.totalCount.allTrips', 'value': '{0} TIVs'},
        {'property': 'msg.totalCount.countOfTrips', 'value': '{0} of {1} TIVs'}
    ])
    props_spread = gspread_pandas.Spread(
        sheet_title,
        "properties",
        creds=sheet_creds,
        create_spread=True,
        create_sheet=True,
    )
    props_spread.df_to_sheet(props_df, index=False, headers=True, start='A1',)

    locations_spread = gspread_pandas.Spread(
        sheet_title,
        "locations",
        creds=sheet_creds,
        create_sheet=True,
    )
    locations_spread.df_to_sheet(locations_df, index=False, headers=True, start='A1',)

    for key, df in flows.items():
        print(key)
        flow_spread = gspread_pandas.Spread(
            sheet_title,
            key,
            creds=sheet_creds,
            create_sheet=True,
        )
        flow_spread.df_to_sheet(df, index=False, headers=True, start='A1',)

In [ ]:
generate_arms_flow(
    sheet_creds=creds,
    locations_df=flowmap_locations_df,
    sheet_title="PUBPOL 2130: arms transfers (orders over time)",
    flow_title="SIPRI Arms Transfers Database: orders over time",
    flows={
        str(year): year_df.reset_index().rename(columns={
            "supplier": "origin",
            "recipient": "dest",
            "order_sipri_tiv": "count",
        })
        for year, year_df in orders_by_year_df.groupby(level=0)
    }
)

1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023